*{
	margin: 0;
	padding: 0;
}

h1{
	text-transform: uppercase;
	text-align: center;
}

body {
	margin-top: 70px;
}

main.maincontent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3,1fr);
	padding: 2vh;
	grid-gap: 1vh;
}

main#grid {
	display: grid;
	align-items: center;
	justify-items: center;
}

div#todoform {
	padding: 10vh;
	width: 50vh;
	display: grid;
	grid-gap: 2vh;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

ul {
	list-style-type: none;
}

input[placeholder="Add New To-do"]{
	text-align: center;
}