*{
	margin: 0;
	padding: 0;
}

body {
	margin-top: 70px;
}

main.maincontent {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: repeat(3,1fr);
	padding: 2vh;
	grid-gap: 1vh;
}

main#grid {
	display: grid;
	align-items: center;
	justify-items: center;
}

div#todoform {
	padding: 10vh;
}
